section {
  height: 100%;
  div {
    padding-left: 0.35rem;
    // border: 1px solid red;
    label {
      font-weight: bold;
      padding-top: 0.45rem;
      display: block;
      font-size: 0.32rem;
    }
    input {
      font-size: 0.32rem;
      padding: 0.3rem 0.3rem;
      outline: none;
      width: 100%;
      display: block;
      border: none;
      border-bottom: 1px solid #d7d7d7;
      &:disabled {
        background: transparent;
      }
    }
  }
  .tip {
    word-break: break-all;
    margin-right: 0.4rem;
    margin-top: 0.28rem;
    font-size: 0.28rem;
    color: #999999;
  }
  .buttonGroup {
    margin-top: 1rem;
    text-align: center;
    padding: 0;
    button {
      font-size: 0.34rem;
      color: white;
      background: #036da1;
      border-radius: 45px;
      outline: none;
      border: none;
      height: 0.9rem;
      width: 90%;
    }
  }
}

#shade {
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  // display: flex;
  // align-items: center;
  .containter {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    // bottom: 0;
    right: 0;
    border-radius: 17px;
    background: white;
    // padding: 0 0.5rem;
    width: 80%;
    margin: 0 auto;
    .content {
      position: relative;
      font-size: 0.3rem;
      // border: 1px solid red;
      .header {
        position: absolute;
        left: 50%;
        margin-left: -0.925rem;
        top: -0.85rem;
        img {
          display: block;
          width: 1.85rem;
          height: 1.85rem;
        }
        // border: 1px solid red;
      }
      .tip {
        padding-top: 1.1rem;
        font-weight: 500;
        text-align: center;
        color: #036da1;
        font-size: 0.36rem;
      }
      span {
        text-align: center;
        padding: 0.3rem 0.5rem;
        font-weight: 400;
        display: block;
        font-size: 0.3rem;
        color: #999999;
        margin: 0 auto;
      }
      .footer {
        padding: 0.4rem 0;
        text-align: center;
        button {
          font-size: 0.3rem;
          color: white;
          height: 0.7rem;
          width: 3rem;
          background: #036da1;
          border-radius: 35px;
          border: none;
          outline: none;
          a {
            color: inherit;
          }
        }
      }

      .footerTwo {
        padding: 0.4rem 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        button {
          font-size: 0.3rem;
          background: white;
          height: 0.7rem;
          border-radius: 35px;
          outline: none;
          border: none;
          width: 2.3rem;
        }
        .ok {
          color: #036da1;
          border: 1px solid rgba(3, 109, 161, 1);
        }
        .no {
          background: #036da1;
          color: white;
          border: 1px solid rgba(3, 109, 161, 1);
        }
      }
    }
  }
}
